@import "tailwindcss";

*{
  font-family: 'Poppins', sans-serif;
  color: white;
  transition: 0.2s ease-in-out;
  overflow-x: hidden;
}
*::-webkit-scrollbar{
  display: none;
}


:root{
  --app-cursor-default: url(../public/cursor.svg) 16 12;
  --app-cursor-pointer: url(/public/pointer.svg) 13 12;
  --app-cursor-yo: url(../yo.svg) 13 12;
}
body{
  scroll-behavior: smooth;
  cursor: var(--app-cursor-default), auto;
}

a:hover{
  cursor: var(--app-cursor-pointer), auto;
}

button:hover{
  cursor: url('../public/cursor.svg');
}

p{
  font-size: 1rem;
  font-weight: 500;
}

a{
  font-size: 1rem;
}

h1{
  font-size: 6rem;

}

h2{
  font-size: 5rem;
}


h1,h2,h3{
  font-family: 'Fira Code', monospace;
}


.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 20px;
  text-align: center;
  align-items: center;
}

.preLoader{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #3F3F47;
}

.loading{
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
  background-color: white;
  border-radius: 100%;
  height: 6rem;
  width: 6rem;
}
.overlay{
  -webkit-animation: show-overlay 1s ease-in;
  animation: show-overlay 1s ease-in;
  
}

@keyframes show-overlay {
  0%{
    top: 100vh;
    border-radius: 50%;
  }
  100%{
    top: 0vh;
    border-radius: 0;
  }
}


@keyframes sk-scaleout {
  0%{
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100%{
    -webkit-transform: scale(1);
    opacity: 0.5;
    transform: scale(1);
  }
}



/*Navbar*/
.navbar{
  top: 10px;
  z-index: 101;
  height: 10vh;
  position: fixed;
  width: fit-content;
  padding: 30px 10px;
  border-radius: 1000px;
  overflow: hidden;
}

.navbar a{
  border-radius: 40px;
  padding: 15px;
}

.navbar a:hover{
  background-color: rgba(255,255,255,0.1);
}

.navbar.resume{
  background-color: rgba(60, 56, 56, 0.9);
  box-shadow: 0 15px 23px rgba(0,0,0,0.25),
    0 3px 6px rgba(0,0,0,0.22);
  backdrop-filter: blur(10px);
  transition: 0.2s ease-in;
}
.navbar.resume a{
  cursor: url('../public/cursor.svg');
  transition:  0.5s ease-in;
}

.navbar .resumebtn{
  color: white;
}

/*footer*/

.footer .footer_paragraph h3{
  font-size: 2rem;
  font-weight: 600;
}

.footer_paragraph .social_links{
  padding: 10px
}

.footer .footer_paragraph .social_links a{
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 30px;
  padding: 5px 10px;
}

.footer .footer_paragraph .social_links a:hover{
  background-color: black;
  translate: 6px 6px ;
}


.footer-heading{
  font-size: 5rem;
  line-height: 100%;
}

.footer table{
  border-spacing: 0;
  border-collapse: separate;
  border-radius: 10px;
  border: 1px solid white;
}


.footer table td {
  padding: 8px;
}

.footer .globe{
  border-right: 1px solid white;
}

.footer .working{
  border-bottom: 1px solid white;
}

.footer_links a{
  font-weight: 600;
}

.footer_links h3{
  font-size: 1.5rem;
  font-weight: 600;
}

.footer_links a:hover{
  cursor: url('../public/cursor.svg');
  text-decoration: underline wavy white;
}


/*Hero*/

/*.hero{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(10%);
  transition: all 1s ease;
}*/

.welcome h1,
.welcome p,
.welcome img{
  -webkit-animation: show-element 1s ease-in;
  animation: show-element 1s ease-in;
}

@keyframes show-element {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}


.show{
  opacity: 1;
  filter: blur(0);
  transform: translate(0);
}

.Header{
  line-height: 120%;
  word-spacing: -30px;
  text-align: center;
  font-weight: 500;
  overflow: hidden;
}

@keyframes moveUpAndFade {
  0%,to {
      transform: translateY(0);
      opacity: .5
  }

  50% {
      transform: translateY(15px);
      opacity: 1
  }
}

.animate-moveUpAndFade {
  animation: moveUpAndFade 2s cubic-bezier(.16,1,.3,1) infinite
}

.tech_stack{
  position: relative;
}

.tech_stack .element{
  border: 1px solid white;
  width: 25vw;
  height: 25vh;

}

.tech_stack .element img{
  width: 70px;
  height: 70px;
  margin-top: 20px;
  filter: grayscale(100%);
}
.tech_stack .element p{
  opacity: 0;
}

.tech_stack .element:hover img{
  filter: none;
}

.tech_stack .element:hover img{
  margin-top: 0px;
  transform: scale(0.8);
  transition: 0.6s ease;
}
.tech_stack .element:hover p{
  opacity: 100%;
  transition: 0.6s ease;
}
.tech_stack .element .element-box:hover{
  background-color: rgba(255, 111, 0, 0.1);
}

.tech_stack .element b{
  width: 25vw;
  height: 25vh;
  opacity: 0%;
}

.tech_stack .element:hover b{
  opacity: 7%;
}

/*Project*/

.project h3{
  font-size: 2rem;
  letter-spacing: -2px;
}

.project,
.project-cards,
.project_card{
  overflow: hidden;
}

.project .project-png{
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 15px 23px rgba(0,0,0,0.35),
  0 3px 6px rgba(0,0,0,0.32);
  width: 700px;
}

.project_header{
  gap: 4.5rem;
}

.project a:hover .project_header{
  gap: 5rem;
}
.project a:hover .project-png{
  transform: scale(1.01);
}

/*.project-cards{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    grid-auto-columns: 100%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
}*/

.ongoing-project{
  filter: grayscale(100%);
}



/*About*/

.about h1{
  font-size: 7rem;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -10px;
  word-spacing: -20px;
  text-align: center;
  overflow: hidden;
}

.about h3{
  font-size: 3.5rem;
  line-height: 110%;
  font-weight: 800;
  color: #3d577b;
  overflow: hidden;
}

.about .img-box{
  overflow: hidden;
}

.about .img-box img:hover{
  cursor: var(--app-cursor-yo), auto;
  transform: scale(1.05);
}

.filler{
  background: linear-gradient(to top right, rgb(22, 22, 22) 50%, transparent 50%);
}

.summary{
  background: linear-gradient(to bottom , rgb(22, 22, 22), #242429 );
}

.summary p{
  max-width: 900px;
  line-height: 300%;
}

.card{
  border: 1px solid #3F3F47;
  border-radius: 30px;
  background: radial-gradient(ellipse 80% 80% at 50% -20%,#35353b, transparent);
}

.card:hover{
  background: radial-gradient(ellipse 80% 80% at 50% -20%,#3F3F47, transparent);
  transition: 1s ease-in-out;
}

.card h4{
  margin-top: 150px;
  font-size: 2rem;
  font-weight: 600;
}

.card h5{
  width: fit-content;
  font-size: 1.8rem;
}


@media screen and (max-width: 640px) {

p{
  font-size: 0.7rem;
}

a{
  font-size: 0.7rem;
}

h1{
  font-size: 3rem;

}

h2{
  font-size: 2.5rem;
}

.footer .footer_paragraph h3{
  font-size: 1rem;
  font-weight: 550;
}
.footer_links h3{
  font-size: 1rem;
  font-weight: 500;
}

.footer_paragraph .social_links{
  padding: 2px;
}

.footer-heading{
  font-size: 2rem;
}

.footer .footer_paragraph .social_links a{
  font-size: 0.7rem;
}

.footer table td {
  font-size: 0.5rem;
  padding: 1px;
}


/*hero*/

.tech_stack .element{
  border: 1px solid white;
  width: 30vw;
  height: 15vh;
}
.tech_stack .element b{
  width: 30vw;
  height: 15vh;
}

.tech_stack .element img{
  width: 30px;
  height: 30px;
}

/*Project*/

.project h3{
  font-size: 0.8rem;
  letter-spacing: 0px;
}

.project{
  padding: 5px;
}

.project_header{
  gap: 1rem;
}

.project a:hover .project_header{
  gap: 1rem;
}

.project-btn{
  display: none;
}

.project-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 50px;
}
.project .project-png{
  width: fit-content;
}


/*About*/

.about .Header{
  font-size: 4rem;
  letter-spacing: 0;
}

.ME img{
  max-width: 250px;
}

.ME h3{
  font-size: 1rem;
}

.card h4{
  margin-top: 50px;
  font-size: 1rem;
  font-weight: 600;
}

}